/* =========================================================
   INDEX.CSS
   Producciones Angel
========================================================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #f4f7fb;

  color: #172033;

  font-family: "Trebuchet MS", "Segoe UI", sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}